<server>
    <!-- Enable features -->
    <featureManager>
        <feature>servlet-3.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="80">
        <tcpOptions soReuseAddr="true"/>
    </httpEndpoint>

    <webApplication contextRoot="/" id="JavaHelloWorldApp" location="/opt/ibm/wlp/usr/servers/defaultServer/dropins/JavaHelloWorldApp.war" name="JavaHelloWorldApp"/>
</server>

